<ion-app>
  <ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
              <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
      <ion-title>Nombre del grupo</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addHomeWork()" color="tertiary">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
 </ion-content>
</ion-app>
