<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/teacher-admi-group"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ note.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteNote()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
        <ion-label>Fecha de entrega</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="2016" max="2050" [(ngModel)]="this.date">{{note.date}}</ion-datetime>
      </ion-item>
  <ion-textarea (input)="noteChanged()" [(ngModel)]="note.content" placeholder="¿Cual es la descripcion de la tarea?"></ion-textarea>
</ion-content>